{% extends 'base.html.twig' %}

{% block title %}ReservationMateriel index{% endblock %}

{% block body %}
    <h1 class="mb-4">Liste des reservations materiels</h1> {# Added margin-bottom to the heading #}

    <a class="btn btn-secondary mb-3" href="{{ path('app_materiel_index') }}">Liste des matériels</a>

    <table class="table">
        <thead>
            <tr>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Quantite_reservee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_materiel in reservation_materiels %}
            <tr>
                <td>{{ reservation_materiel.dateDebut ? reservation_materiel.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_materiel.dateFin ? reservation_materiel.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_materiel.quantiteReservee }}</td>
                <td>
                    <a href="{{ path('app_reservation_materiel_show', {'id_reservation': reservation_materiel.id_reservation}) }}">show</a>
                    <a href="{{ path('app_reservation_materiel_edit', {'id_reservation': reservation_materiel.id_reservation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_materiel_new') }}">Create new</a>
{% endblock %}
