{% extends 'base.html.twig' %}

{% block title %}Materiel{% endblock %}

{% block body %}
    <h1>Materiel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_materiel</th>
                <td>{{ materiel.idMateriel }}</td>
            </tr>
            <tr>
                <th>Nom_materiel</th>
                <td>{{ materiel.nomMateriel }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ materiel.description }}</td>
            </tr>
            <tr>
                <th>Quantite_dispo</th>
                <td>{{ materiel.quantiteDispo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_materiel_index') }}">back to list</a>

    <a href="{{ path('app_materiel_edit', {'id_materiel': materiel.id_materiel}) }}">edit</a>

    {{ include('materiel/_delete_form.html.twig') }}
{% endblock %}
